<!DOCTYPE html>
<html ng-controller="AppCtrl">
<head>
    <title ng-bind="_state.title"></title>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <% styles.forEach( function ( file ) { %><link rel="stylesheet" type="text/css" href="/<%= file %>" /><% }); %>
    <% scripts.forEach( function ( file ) { %><script type="text/javascript" src="/<%= file %>"></script><% }); %>
</head>
<body>
<div class="container" >
    <div class="masthead">
        <h3 class="muted">Cat magazine!</h3>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li ng-class="{active: _state.menu == 'home'}"><a href="/home">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ui-view></div>
</div>
</body>
</html>